<div class="repo-list">

    <h2 class="text-center">Bitbucket Repo list</h2>

    <div class="container-fluid">
        <div class="row row-head">
            <a href="#" class="col-sm-3" (click)="sort(0)">Owner name</a>
            <a href="#" class="col-sm-3" (click)="sort(1)">Repo name</a>
            <div class="col-sm-2">Link</div>
            <div class="col-sm-2">Avatar</div>
            <a href="#" class="col-sm-2" (click)="sort(4)">Created</a>
        </div>
        <div class="row" *ngFor="let repo of repos | orderBy: {property: currectDirecion.property, direction: currectDirecion.direction}">
            <div class="col-sm-3">{{repo.owner_name}}</div>
            <div class="col-sm-3">{{repo.repo_name}}</div>
            <div class="col-sm-2">
                <a href="{{repo.html_link}}" target="_blank" title="{{repo.html_link}}">
                    Html link
                </a>
            </div>
            <div class="col-sm-2">
                <img src="{{repo.avatar_link}}" title="Avatar" class="avatar" />
            </div>
            <div class="col-sm-2">{{repo.created | date : 'dd/MM/yyyy'}}</div>
        </div>
    </div>
</div>