.repo-list {
    
}

.repo-list .text-center {
    text-align: center;
}

.repo-list .row {
    margin-bottom: 10px;
}

.repo-list .row-head {
    font-weight: bold;
}

.repo-list .row-head a {
    color: #222;
}

.repo-list .row-head a:hover {
    color: green;
}

.repo-list .row-head a:visited {
    color: #222;
}

.repo-list img.avatar {
    width: 24px;
    height: 24px;
}